/* || General styles */
:root {
    --color-white: rgb(227 227 227 / 0.95);
    --color--purple: rgb(91 55 88);
    --color--pink: rgb(249 173 160);
    --color--pink-s: rgb(249 98 125);
}
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'BungeeShade';
    src: url('./BungeeShade-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('./Mulish-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}

#content {
    font-family: "Mulish";
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background: url("./falafel.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    padding: 0 24px;
}


/* || Header */
header {
    background-color: rgb(0 0 0 / 0.15);
    border-bottom: 2px solid var(--color--pink-s);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 2px 8px;
    background-color: black;
    color: var(--color--pink);
    font-family: "BungeeShade";
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: var(--color--pink);
    display: block;
    padding: 24px;
    text-decoration: none;
}

nav a.active {
    background-color: var(--color--pink-s);
    color: var(--color--purple);
}

nav a:hover {
    background-color: var(--color--pink);
    color: var(--color--purple);
}


/* || Main */
main {
    display: grid;
    justify-items: center;
    align-items: center;
}

.card {
    background-color: var(--color-white);
    max-width: 600px;
    padding: 24px;
}

.card-heading {
    margin-bottom: 18px;
    color: var(--color--pink-s);
    font-weight: 600;
}

.three-columns {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 16px;
}

label {
    display: block;
}

input {
    font-family: inherit;
    padding: 8px 6px;
    display: block;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

textarea {
    padding: 8px 6px;
    font-family: inherit;
}

.form-row {
    margin-bottom: 16px;
}

.btn {
    color: var(--color--purple);
    padding: 8px 16px;
    border: none;
    background-color: var(--color--pink);
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color--pink-s);
    color: white;
}

/* || Footer */
footer {
    display: grid;
    /* justify-items: end; */
    color: var(--color-white);
}

footer a {
    color: var(--color--pink-s);
}